{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "orderBy": false,
    "POKEMON": false,
    "miniData": false,
    "filterType": false,
    "computeStats": false,
    "processData": false
  },
  "rules": {
    "no-console": 0,
    "semi": 2
  }
}
