/* body{
    img src: url('dark-bg-pokemon.png');
} */

#pokemones{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

div {
    height: 150px;
    width: 150px;
    border: 1px solid; 
    text-align: center;

}

label {
    display: block;
}

/* .container{
    width: 80%;
    margin: 0 auto;
    background-color: yellow;
}
 */


