body {
    background: url(../src/img/fondo-1920-420248.jpg);
    background-size: contain; 
    background-attachment: fixed;
    color: aliceblue;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

   }



#pokemones{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}



section#pokemones div label {
    display: block;
}

section#pokemones div{
    border: transparent;
    padding: .5%;
    color: white;
    height: 150px;
    width: 150px;
    text-align: center;
}

.invisible {
    display: none;
    visibility: hidden;
   }

.visible {
    visibility: visible;
    position: static;
   }

